## Luaran pembelajaran

- tipe data dan metode dasar untuk memformat, mengkonversi, input dan output data;
- operator;
- variabel.

# 2.1.1 Program Pertama

- mengenal fungsi `print()`;
- tanda kurung buka;
- tanda kutip;
- kalimat 1 baris: `Hello, World!`;
- fungsi beberapa tanda kutip lain;
- tanda kurung tutup.

In [3]:
print("Hello, World!!!!!!")
print("Goodbye World!!!")

Hello, World!!!!!!
Goodbye World!!!

## Lab
- Cetak kalimat "Hello, Python!"
- Cetak nama pertamamu
- Cetak nama pertamamu tanpa petik
- apakah ada bedanya double quote "" dan single quote ' ?

In [5]:
print("Hello, Python!")
print("Guntur")
# print(Guntur)
print('Guntur')

Hello, Python!
Guntur
Guntur

## Formatting dengan Special Character
`\' = karakter spesial "escaping nature"

`\n` = untuk enter

`\` = escaping karakter

```python
print() = berarti line kosong
```

Tidak boleh ada 2 perintah dalam 1 baris
```python
print("nama depan") print ("nama belakang")
```

In [7]:
print("seketika langit menjadi gelap\nkemudian hujan turun dengan deras.")
print()
print("ibu memasak di dapur\ndan kakak menyapu di halaman.")

seketika langit menjadi gelap
kemudian hujan turun dengan deras.

ibu memasak di dapur
dan kakak menyapu di halaman.

In [9]:
# Dia mengatakan "halo"
print("Dia mengatakan \"halo\"")

Dia mengatakan "halo"

In [11]:
print("\"")

"

In [12]:
print("\\")

\

In [14]:
# Beberapa kalimat dapat dipisahkan dengan koma

print("The itsy bitsy spider." , "climbed up." , "the waterspout.")

The itsy bitsy spider. climbed up. the waterspout.

In [15]:
print("My name is", "Python.")
print("Monty Python.")

My name is Python.
Monty Python.

```end=" "``` digunakan untuk meletakkan argumen setelah argumen pertama

In [20]:
print("My name is", "Python.", end=" ")
print("Monty Python.")

My name is Python. Monty Python.

In [28]:
print("My name is ", end=" ## ")
print("Monty Python.")

My name is  ## Monty Python.

```sep="=" ``` digunakan untuk memisahkan antar argumen dengan string kosong atau karakter lain

In [31]:
print("My", "name", "is", "Monty", "Python.", sep="-")

My-name-is-Monty-Python.

In [32]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")
print("Digital", "Talent", "Dahsyat", sep="_", end="*")
print("Guntur", "Budi.", sep="*", end="*\n")

My_name_is*Monty*Python.*
Digital_Talent_Dahsyat*Guntur*Budi.*

## Lab

Buatlah Program untuk menghasilkan output:
`Programming***Essentials***in...Python`

In [35]:
print("Programming","Essentials","in",sep="***",end="...")
print("Python"*2)

Programming***Essentials***in...PythonPython

## Lab

In [33]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****\n"*2)

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [34]:
print("    *    "*2)
print("   * *   "*2)
print("  *   *  "*2)
print(" *     * "*2)
print("***   ***"*2)
print("  *   *  "*2)
print("  *   *  "*2)
print("  *****  "*2)

    *        *
   * *      * *
  *   *    *   *
 *     *  *     *
***   ******   ***
  *   *    *   *
  *   *    *   *
  *****    *****

# 2.1.2 Literals
literal merupakan notasi untuk mensimbolkan nilai, dapat berupa string, boolean maupun angka (integer dan float)

In [37]:
# hasil output akan terlihat sama, namun nilai tersebut tersimpan berbeda dalam memori komputer
print("2")
print(2)

print(type("2"))
print(type(2))

2
2
<class 'str'>
<class 'int'>

## Integers vs Floats

In [38]:
print(5, "mempunyai tipe", type(5))

print(5.0, "mempunyai tipe", type(5.0))

5 mempunyai tipe <class 'int'>
5.0 mempunyai tipe <class 'float'>


# Penulisan Float dan Integer
Python versi 3 membolehkan pemisahan digit integer dengan underscore "_"
agar mudah dibaca
```python
print (10_000_000)```

Float dipisahkan dengan .(titik) bukan ,(koma)
cara penulisan float bisa 3 cara

- 4.0
- .4 (terbaca nol koma 4)
- 4. (terbaca 4 koma nol)

> 3e08 berarti $ 3 x 10 ^ 8 $  
3e-08 berarti $ 3 x 10 ^ {-8} $

In [40]:
print (0.000000003)
print (3e-8)

3e-09
3e-08

## String

Buatlah program untuk menghasilkan output `I'm Monty Python`

In [ ]:
print("I'm Monty Python")
print("Jum'at")
print('"Saya berpendapat python itu mudah", kata Monty')
print("1.5")
print("1000")

In [ ]:
#string kosong pun juga bernilai string

print("")
print('')

## Booelan
Logika benar salah, 1 bernilai benar (True) dan 0 bernilai salah (False)

In [ ]:
print(True)
print(False)
print (3>0)
print (0>3)

## None

In [ ]:
print(None)

## Lab
Buat output seperti ini dalam satu line <br/>
`"I'm"`<br/>
`""learning""`<br/>
`"""Python"""`

In [ ]:
print('"I\'m"\n""learning""\n"""Python"""')

print("""
"I'm"
""learning""
\"""Python""\"
""")

# 2.1.3 Operator

### Operator Aritmetika

| Operator | Arti                                                                                          | Contoh                  |
|----------|--------------------------------------------------------------------------------------------------|--------------------------|
| +        | Penambahan                                                                   | x + y                 |
| -        | Pengurangan                                              | x - y                  |
| *        | Perkalian                                                                            | x * y                    |
| /        | Pembagian                                 | x / y                    |
| %        | Modulo - Sisa Pembagian                                 | x % y (sisa pembagian of x/y) |
| //       | Pembagian dan dibulatkan ke bawah | x // y                   |
| **       | Eksponen - Pangkat                                             | x**y (x pangkat y)  |

In [ ]:
#eksponen/pangkat
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

In [ ]:
#pembagian
print(6 / 3)
print(6 / 3.)
print(6. / 3)
print(6. / 3.)

In [ ]:
#pembagian dengan pembulatan ke bawah
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

In [ ]:
print(6 // 4)
print(6. // 4)

print(6 / 4)
print(6. / 4)

#Penting ! pembulatan selalu ke nilai bawahnya

In [ ]:
print(-6 // 4)
print(6. // -4)

In [ ]:
#modulo/sisa bagi
print(14 % 4)

In [ ]:
print(-4 + 4)
print(-4. + 8)

### Urutan Operator

In [ ]:
2 + 3 * 5

#perkalian lebih didahulukan dari penambahan

In [ ]:
print(9 % 6 % 2)

#pengerjaan dari kiri ke kanan

In [ ]:
print(2 ** 2 ** 3)

#pengerjaan dari kanan ke kiri

| Prioritas| Operator |        |
|----------|----------|--------|
| 1        | +, -     | unary  |
| 2        | **       |        |
| 3        | *, /, %  |        |
| 4        | +, -     | binary |

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

latihan

`print((2 ** 4), (2 * 4.), (2 * 4))`<br/>
`print((-2 / 4), (2 / 4), (2 // 4), (-2 // 4))`<br/>
`print((2 % -4), (2 % 4), (2 ** 3 ** 2))`<br/>

# 2.1.4 Variabel
- Apa itu variabel?
- Bagaimana Aturan Penamaannya?

In [ ]:
var = 1
print(var)

# kamu bisa menaruh tipe data apapun dalam variabel

- baris pertama membuat variabel dengan nama `var`, dan diisi dengan nilai `1`.
- baris kedua mencetak nilai dalam variabel ke dalam console

In [ ]:
var = 1
saldo = 1000.0
namaKlien = 'John Doe'
print(var, saldo, namaKlien)
print(var)

In [ ]:
var = 1
print(Var) #case sensitive, huruf besar kecil perlu diperhatikan!

In [ ]:
#tanda '+' bisa digunakan untuk kontatinasi
var = "2019"
print("Digital talent: " + var)

In [ ]:
#menetapkan  nilai baru ke dalam variabel yang telah ada 
#menugaskan variabel

var = 1
print(var)
var = var + 1
print(var)

In [ ]:
var = 100
var = 200 + 300
print(var)

Tulis rumus ini dalam kode program:<br/> $c=\sqrt{a^2+b^2}$

In [ ]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

### Lab

<b>Cerita Pendek:</b> 

Suatu waktu di kebun apel, Guntur memiliki 3 apel, Icha memiliki 5 apel dan Ratna memiliki 6 Apel. mereka sangat bahagia dan hidup lama. selesai.

Tugas Anda
- buat variabe : `Guntur`, `Icha` dan `Ratna`
- isi nilai sesuai dengan jumlah apel yang mereka miliki
- cetak nama variabel dan jumlah apel setiap variabel dalam 1 baris, pisahkan dengan koma
- buat variabel baru dengan nama `totalApel` yang berisi penjumlahan seluruh apel yang mereka miliki
- coba otak atik code dengan membuat variable baru, diisi dengan nilai lain, dan dihitung dengan operator aritmetik lainnya

In [ ]:
Guntur = 3
Icha = 5
Ratna = 6

print("Apel milik Guntur",Guntur)
print("Apel milik Guntur",Icha)
print("Apel milik Guntur",Ratna)

totalApel = Guntur + Icha + Ratna
print("Total number of apples: " , totalApel)

In [ ]:
#Jalan Pintas operator

sheep = 5
sheep = sheep + 1
print(sheep)

sheep += 3
print(sheep)

sheep *= 2
print(sheep)

### Lab

Mil dan kilometer adalah satuan panjang

1 mil memiliki panjang sekitar 1.61 kilometer, buatlah program konversi di bawah ini
- mil ke kilometer;
- kilometer to mil.
jangan ganti apapun terhadap kode yang sudah ada. tulis kodemu pada tanda ###, kemudian hapus tanda tersebut. Uji kode Anda dengan data yang kami sajikan dalam source code

Kode:
```python
kilometer = 12.25
mil = 7.38

mil_ke_kilometer = ###
kilometer_ke_mil = ###

print(mil, "1 mil adalah", round(miles_to_kilometers, 2), "kilometer")
print(kilometer, "1 kilometer adalah", round(kilometers_to_miles, 2), "mil")
```

In [6]:
kilometer = 12.25
mil = 7.61

mil_ke_kilometer = mil * 1.61
kilometer_ke_mil = kilometer / 1.61

print(mil, "mil adalah", round(mil_ke_kilometer, 2), "kilometer")
print(kilometer, "kilometer adalah", round(kilometer_ke_mil, 2), "mil")

7.61 mil adalah 12.25 kilometer
12.25 kilometer adalah 7.61 mil

### Lab

Skenario
lihatlah kode dalam editor, nilai tersebut termasuk tipe float, letakkan nilai tersebut dalam variabel x, dan print variabel tersebut dalam variabel y. Tugasmu adalah melengkapi kode di bawah ini untk menyelesaikan persamaan di bawah

$3x^3 - 2x^2 + 3x - 1$

Hasil harus disimpan dalam variabel y.
ingat bahwa aljabar klasik sering menghilangkan operator perkalian, kamu harus menggunakannya secara eksplisit. Ingat bagaimana cara mengubah tipe data untuk memastikan bahwa x bertipe float.

usahakan kodemu mudah dibaca, uji kode dengan data yang telah kami berikan.

```python
x =  # hardcode your test data here
x = float(x)
# tulis kodemu disini
print("y =", y)
```

Test Data:
```python
#input
x = 0
x = 1
x = -1

#output
y = -1.0
y = 3.0
y = -9.0
```

In [ ]:
x = -1
x = float(x)
y = 3*x**3 - 2*x**2 + 3*x -1
print("y =", y)

### Exercise

Apa outputnya?
```python
var = 2
var = 3
print(var)
```

Nama variabel mana yang ilegal?
```python
my_var
m
101
averylongvariablename
m101
m 101
Del
del
```

Apa Outputnya?
```python
a = '1'
b = "1"
print(a + b)
```

Apa outputnya?

```python
a = 6
b = 3
a /= 2 * b
print(a)
```

# 2.1.5 Comments
Latihan: mana yang seharusnya menjadi komentar, mana yang tidak

In [ ]:
#this program computes the number of seconds in a given number of hours
# this program has been written two days ago

a = 2 # number of hours
seconds = 3600 # number of seconds in 1 hour

print("Hours: ", a) #printing the number of hours
# print("Seconds in Hours: ", a * seconds) # printing the number of seconds in a given number of hours

#here we should also print "Goodbye", but a programmer didn't have time to write any code
#this is the end of the program that computes the number of seconds in 3 hour

# 2.1.6 How to talk to a computer 
katakunci `input()`<br/>
hasil dari fungsi `input()` adalah <b>string</b>.<br/>
Tidak bisa langsung dikenakan ke operasi aritmetika

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

In [ ]:
angka = input("Masukkan Angka...")
print("Pangkat duanya adalah", angka**2)

### type casting

In [ ]:
angka = float(input("Masukkan Angka..."))
print("Pangkat duanya adalah", angka**2)

In [ ]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

In [ ]:
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

In [ ]:
#Replication

print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

In [ ]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

### Lab
Coba utak atik perintah kode dibawah ini
``` python
# Masukkan nilai a dalam float
# Masukkan nilai b dalam float

# hitung hasil penambahan disini
# hitung hasil pengurangan disini
# hitung hasil perkalian disini
# hitung hasil pembagian disini


print("\nYeahhhh")
```

In [ ]:
a = float(input("Masukkan a = "))
b = float(input("Masukkan b = "))

print("a+b = ",a+b)
print("a-b = ",a-b)
print("a*b = ",a*b)
print("a/b = ",a/b)
print("\nYeahhhh!")

### Lab
Kerjakan rumus berikut:
<img src="images/modul2_pembagian.PNG" width=200px />

input/output yang diharapkan
```python
x = 1
y = 0.6000000000000001

x = 10
y = 0.09901951266867294
```

In [ ]:
x = float(input("Enter value for x: "))

y = 1/(x+1/(x+1/(x+1/x)))

print("y =", y)

### Lab
Tugasmu adalah mempersiapkan kode simpel untuk menentukan waktu akhir/selesai sebuah kegiatan. Diberikan variabel durasi waktu dalam menit dan waktu mulai dalam jam (0..23)dan menit (0..59). hasilnya harus dicetak dalam console

sebagai contoh, jika suatu kegiatan dimulai pukul `12:17` dan berlangsung selama `59 minutes` , maka kegiatan tersebut tersebut akan selesai pukul `13:16`

jangan takut kalau kodemu belum sempurna, tidak masalah waktunya terlihat tidak valid, yang terpenting kodenya dapat menghasilkan nilai yang valid berdasarkan data input.

Kode Dasar:
```python
jam = int(input("waktu mulai (jam): "))
menit = int(input("waktu mulai (menit): "))
durasi= int(input("durasi kegiatan (minutes): "))

# Letakkan kodemu disini
```
Uji Kodemu, Petunjuk ! gunakan operator % sebagai kunci suksesmu

In [2]:
# coba di cek lagi

jam = int(input("waktu mulai (jam): "))
menit = int(input("waktu mulai (menit): "))
durasi = int(input("durasi kegiatan (menit): "))

tambah_menit = menit + durasi
tambah_jam = int(tambah_menit / 60)

jam += tambah_jam
menit = tambah_menit % 60

print(str(jam%24)+':'+str(menit))

waktu mulai (jam): 12
waktu mulai (menit): 14
durasi kegiatan (menit: 50
13:4